doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='x-apple-disable-message-reformatting')
    meta(name='color-scheme' content='light dark')
    meta(name='supported-color-schemes' content='light dark')
    meta(content='telephone=no' name='format-detection')
    title #{textTitle}
    style(type='text/css').
      html,
      body {
      margin: 0 auto !important;
      padding: 0 !important;
      height: 100% !important;
      width: 100% !important;
      }
      * {
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
      }
      table,
      td {
      mso-table-lspace: 0pt !important;
      mso-table-rspace: 0pt !important;
      }
      table {
      border-spacing: 0 !important;
      border-collapse: collapse !important;
      table-layout: fixed !important;
      margin: 0 auto !important;
      }
      table table table {
      table-layout: auto;
      }
      img {
      -ms-interpolation-mode: bicubic;
      }
      .x-gmail-data-detectors,
      /* Gmail */
      .x-gmail-data-detectors *,
      .aBn {
      border-bottom: 0 !important;
      cursor: default !important;
      color: inherit !important;
      text-decoration: none !important;
      font-size: inherit !important;
      font-family: inherit !important;
      font-weight: inherit !important;
      line-height: inherit !important;
      }
      a {
      color: inherit !important;
      text-decoration: none !important;
      }
    style(type='text/css').
      @media only screen and (max-width:480px) {
      .col {
      width: 100%;
      display: block;
      padding-left: 0 !important;
      padding-right: 0 !important;
      }
      }
      @media {
      .day.dark-scheme {
      background: #1A2539;
      color: #fffffe;
      }
      .night.dark-scheme {
      background: #fffffe;
      color: #1A2539;
      }
      }
    //if mso
      style(type='text/css').
        .courierfallback {font-family: Courier !important;}
        .arialfallback {font-family: Arial !important;}
    //if (gte mso 9)|(IE)
      xml
        o:officedocumentsettings
          o:allowpng
            o:pixelsperinch 96
  center(style='width: 100%; background: #1D1D1D;')
    div(bgcolor='#1D1D1D' style='max-width: 600px; margin: 0;')
      //if (gte mso 9)|(IE)
        table(width='100%' align='center' cellspacing='0' cellpadding='0' border='0' bgcolor='#fffffe' role='presentation')
          tr
            td
              table(width='600' align='center' cellspacing='0' cellpadding='0' border='0' role='presentation')
                tr
                  td
      // START FEATURED CASE STUDY
      // aqui
      table(border='0' cellpadding='0' cellspacing='0' margin='0' role='presentation' style='max-width: 600px;' width='100%')
        tbody
          tr
            td.arialfallback(bgcolor='#5A2CFB' align='center' cellpadding='5px' style='max-width: 600px; padding: 5px; mso-padding-alt: 5px;font-family: Arial, Helvetica, sans-serif; font-size: 10px; line-height: auto; font-style: normal; text-align: center; color: #FFFFFF;' valign='middle' width='100%')
              a.arialfallback(href=urlOpenBrowser target='_blank' style='font-family: Relative-Book, Arial; font-weight: bold; line-height: 18px; color: #FFFFFF; text-decoration: underline; border: 1px; white-space: nowrap; text-transform: none; text-decoration:underline;')
                | #{textOpenBrowser}
      // aqui end
      table(border='0' cellpadding='0' cellspacing='0' margin='0' role='presentation' style='max-width: 600px;' width='100%')
        tbody
          tr
            td(bgcolor='#fffffe' align='center' cellpadding='0px 0px 0px 0px' style='max-width: 600px; padding: 0px 0px 0px 0px; mso-padding-alt: 0px 0px 0px 0px; background-color: #1D1D1D; background-image: linear-gradient(#1D1D1D,#1D1D1D);' valign='middle' width='100%')
              table(align='center' cellpadding='0' cellspacing='0' role='presentation' width='100%')
                tbody
                  tr
                    td.responsive_image_portrait(align='center' cellpadding='0' margin='0' style='max-width: 600px;padding: 0px; mso-padding-alt: 0px; Margin: 0;' valign='top' width='100%')
                      //if (gte mso 9)|(IE)
                        table(width='600' align='center' border='0' cellspacing='0' cellpadding='0' margin='0' role='presentation')
                          tr
                            td(width='600' align='center' valign='top')
                      a(border='0' href=urlShare)
                        img(alt='header' border='0' src='https://devmds.com/toyota/hero.png' style='max-width: 600px;outline:none; -ms-interpolation-mode: bicubic; border: 0; display:block; font-family: Arial; font-size: 15px; width: 100%;' width='100%')
                      //if (gte mso 9)|(IE)
      // END FEATURED CASE STUDY
      // nev footer
      table(border='0' cellpadding='0' cellspacing='0' margin='0' role='presentation' style='max-width: 600px;' width='100%' mc:repeatable='column-news')
        tbody
          tr
            td(bgcolor='#1A2539' align='center' cellpadding='0' style='max-width: 600px; padding: 0; mso-padding-alt: 0;' valign='top' width='100%')
          // START FOOTER
          // END FOOTER
          table(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='max-width: 600px;' width='100%')
            tbody
              td.col(align='center' cellpadding='0' style='max-width: 600px; cellspacing: 0; mso-cellspacing: 0; padding: 0; mso-padding-alt: 0; border: 0;' valign='top' width='100%')
                table(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='max-width: 600px;' width='100%')
                  tbody
                    tr
                      td.responsive_image_portrait(align='center' padding='38px 0px' style='max-width: 600px; padding: 38px 0px; mso-padding-alt: 38px 0px; background-color: #1D1D1D; background-image: linear-gradient(#1D1D1D,#1D1D1D);' valign='middle' width='100%')
                        //if (gte mso 9)|(IE)
                          table(width='262px' cellspacing='0' cellpadding='0' border='0' role='presentation')
                            tr
                              td(width='262px' align='left' valign='top')
                        div
                          img(alt='Toyota' border='0' src=imgTitle style='width:262px; outline:none; -ms-interpolation-mode: bicubic; display:block; background-color: #1D1D1D; background-image: linear-gradient(#1D1D1D,#1D1D1D);' width='100%')
                        //if (gte mso 9)|(IE)
          table(border='0' cellpadding='0' cellspacing='0' margin='0' role='presentation' style='max-width: 600px;' width='100%')
            tbody
              tr
                td.font10.arialfallback(bgcolor='#0E192D' align='left' cellpadding='0px 25px 0px 25px' style='max-width: 288px; padding: 0px 25px 0px 25px; mso-padding-alt: 0px 25px 0px 25px;font-family: Arial, Helvetica, sans-serif; font-size: 18px; line-height: auto; font-weight: normal; letter-spacing: normal;  font-style: normal; color: #ffffff; text-align: center; background-color: #1D1D1D; ' valign='middle' width='100%')
                    | #{textMessage}
          table(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='max-width: 600px;' width='100%')
            tbody
              td.col(align='center' cellpadding='0' style='max-width: 600px; cellspacing: 0; mso-cellspacing: 0; padding: 0; mso-padding-alt: 0; border: 0;' valign='top' width='100%')
                table(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='max-width: 600px;' width='100%')
                  tbody
                    tr
                      td.responsive_image_portrait(align='center' padding='38px 0px' style='max-width: 600px; padding: 38px 0px; mso-padding-alt: 38px 0px; background-color: #1D1D1D; background-image: linear-gradient(#1D1D1D,#1D1D1D);' valign='middle' width='100%')
                        //if (gte mso 9)|(IE)
                          table(width='288px' cellspacing='0' cellpadding='0' border='0' role='presentation')
                            tr
                              td(width='288px' align='left' valign='top')
                        div
                          a(border='0' href=urlShare)
                            img(alt='Toyota' border='0' src=imgButton style='width:288px; outline:none; -ms-interpolation-mode: bicubic; display:block; ' width='100%')
                        //if (gte mso 9)|(IE)
          table(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='max-width: 600px;' width='100%')
            tbody
              tr
                td(padding='0px 0px 30px 0px' style='padding: 0px 0px 30px 0px; mso-padding-alt: 0px 50px 50px 0px; border-top: 1px solid #2F2F2F;' bgcolor='#1D1D1D' align='center')
              td.col(align='center' cellpadding='0' style='max-width: 600px; cellspacing: 0; mso-cellspacing: 0; padding: 0; mso-padding-alt: 0; border: 0;' valign='top' width='100%' bgcolor='#1D1D1D')
                table(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='max-width: 600px;' width='100%')
                  tbody
                    tr
                      td.responsive_image_portrait(align='center' padding='0px 0px 0px 0px' style='max-width: 600px; padding: 0px 0px 0px 0px; mso-padding-alt: 0px 0px 0px 0px;' valign='middle' width='100%')
                        //if (gte mso 9)|(IE)
                          table(width='186px' cellspacing='0' cellpadding='0' border='0' role='presentation')
                            tr
                              td(width='186px' align='left' valign='top')
                        div
                          a(border='0' href='https://www.toyota.com/')
                            img(alt='Toyota' border='0' src='https://devmds.com/toyota/minilogo.png' style='width:32px; outline:none; -ms-interpolation-mode: bicubic; display:block;' width='100%')
                        //if (gte mso 9)|(IE)
          table(border='0' cellpadding='0' cellspacing='0' margin='0' role='presentation' style='max-width: 600px;' width='100%')
            tbody
              tr
                td.arialfallback(bgcolor='#1D1D1D' align='center' cellpadding='24px 10px' style='max-width: 600px; padding: 24px 10px; mso-padding-alt: 24px 10px; font-family: Arial; font-size: 10px; line-height: auto; font-style: normal; color: #ffffff; text-align: left;' valign='middle' width='100%')
                  | #{textTerms}
          // END FOOTER
